body {
  margin: 0;
  height: 100vh;
}
svg {
  width: 100%;
  height: 100%;
}
.c0 { fill: #fff3eb }
.c1 { fill: #ffd5f2 }
.c2 { fill: #d7b8ce }
.c3 { fill: #d683c4 }
.c4 { fill: #a14b94 }
.c5 { fill: #f456e4 }
.c6 { fill: #ff00f7 }
.f15 { filter: url(#f15) }
.f10 { filter: url(#f10) }